body{
    background-color: white;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.israel{
    text-align: center;
    font-weight: bold;
}
button{
    border-radius: 50px;
}
button a{
    text-decoration: none;
}